



<script src="/js/applic.js"></script>
<!-- Pathfinding -->
<script src="/algorithms/A_star.js"></script>
<% if (header_name == 'path_header')  { %>     
    <script src="/algorithms/Dijkstra's.js"></script>
    <script src="/algorithms/Breath_first.js"></script>
    <script src="/algorithms/Deep_first.js"></script>
<% } else if (header_name == 'snake_header') { %> 
    <script src="/algorithms/Snake_game_alg.js"></script>
<% } else if (header_name=='sort_header' ) { %>
    <script src="/algorithms/sorting_algorithms.js"></script>
<% } %>
<!-- Maze -->
<script src="/algorithms/BinTreeMaze.js"></script>
<script src="/algorithms/RecursiveMaze.js"></script>


</body>
</html>