<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/applic.css">
    <style>        
        .center {
            margin: auto;
            width: 50%;
            /* padding: 50px; */
            text-align: center;
        }
        .buttonky{
            padding-top: 10%;                        
        }
        .btn {
            font-size: large;
            line-height: 2;
            width: 55%;
            margin: 2% auto;
        }
    </style>

</head>
<body>
    


    <div class="center" style="padding-top: 5%;">
        <h1>Welcome to the application center</h1>
        <p> Choose wisely </p>
        
        <div class="buttonky">
            <div class="d-grid gap-2">
                <a class="button_link" href="/path/50"> <button class="btn btn-primary">  Pathfinder application </button></a> 
                <a class="button_link" href="/sort/50"> <button class="btn btn-primary">  Sorting application </button></a> 
                <a class="button_link" href="/snake/50"> <button class="btn btn-primary">  Snake game </button></a> 
            </div>
        </div>

    </div>

    
</body>
</html>